.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.cont{
    padding: 0 5% 5% 5%;
}

@media print {
    body {
        transform: scale(0.70);
    }
}

/*style="width: 10pc;"

