.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.cuenta{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    padding: 2% 4% 2% 4%;
    margin: 1rem 0 1rem 0;
    border-radius: 1.5rem;
    width: fit-content;
}

.cuenta:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.cuenta-btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    padding: 4% 8% 4% 8%;
    margin: 1rem 0 1rem 0;
    border-radius: 1.5rem;
    width: fit-content;
}

.cuenta-btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.trans{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    padding: 2% 4% 2% 2%;
    margin: 1rem 0 1rem 0;
    border-radius: 1.5rem;
    width: fit-content;
}

.trans:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.cont{
    padding: 0 5% 5% 5%;
}

.contenido{
    padding: 5%;
}

@media print {
    body {
        transform: scale(0.70);
    }
}

.tit{
    padding: 0.2em 0 0.2em 0;
    font-size: 1.4em;
    color: rgb(179, 179, 179);
    margin-left: 0.1em;
}
.cont-purp{
    width: 80%;
    height: auto;
    padding: 0.8rem 1rem 0.8rem 1.4rem;
    border-radius: 0.6em;
    border: 0.5em #8C52FF;
    box-shadow: -10px -10px #8c52ff, 3px 3px 8px #969696;
    margin-left: 0.5em;
    color: rgb(68, 68, 68);
    font-size: 1.5em;

}
.cont-purp2{
    width: 100%;
    height: auto;
    padding:1.2em;
    border-radius: 0.6em;
    border: 0.5em #8C52FF;
    box-shadow: -10px -10px #8c52ff, 3px 3px 8px #969696;
    color: rgb(68, 68, 68);
    font-size: 1.5em;
}
.histoContainer{
    padding: auto;
    margin: auto;
}
.columnasC{
    margin-top: 10px;
    border-bottom: .0625em solid #eee;
    padding: 0;
    display:flow-root;
    height: 3.5em;

}
.histo-img{
    float: left;
    height:68px;
    width: 68px;

}
.histo-img img {
    margin-top: 0.1em;
    background-position: center;
    top:50%;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border: 1px solid rgb(0, 0, 0);
}
.clases{
    float:left;
    padding-left: 2em;
    line-height: 1em;
    font-size: 0.8em;

}
.clases2{
    float: right;
    overflow: auto;
    line-height: 1em;
    font-size: 0.8em;
}
.histBtn{
    overflow: auto;
    float: right;
}
.columnasC2{
    margin-top: 10px;
    display:flow-root;
    height: auto;

}
.fechaD{
    font-weight: bold;
}
@media screen and (max-width: 1500px){
    .clases{
        padding-left: 0.33em;
        font-size: 0.7em;
    }
    .destinoT{
        display: none;
    }
    .clases2{
        font-size: 0.7em;
    }
    .histo-img{
        height:48px;
        width: 48px;
    
    }
}
@media screen and (max-width: 1170px){
    .clases2{
        float: left;
    }
}
@media screen and (max-width: 744px){
    .clases2{
        float: right;
    }
    .fechaD{
        display: none;
    }
}

/*style="width: 10pc;"*/
