* {
    box-sizing: border-box;
}
.banner{
    position: relative;
    background: blueviolet;
    top: 150;
    left: 0;
    color: #fff;
    width: 600px;
    height: 420px;
    padding: 20px;
}
.banner h1{
    color: #fff;
    width: 350px;
    height: 320px;
}
.banner img{
    position: absolute;
    right: 0;
    left: 550px;
    top: 120px;
    bottom: 0;
}

.contenedor-beneficios{
position: relative;
background-color: #8F15EF;
width: 445px;
height: 543px;
left: 75px;
top: 150px;
border-radius: 100px;
}

.contenedor-beneficios h2{
position: relative;
color: #8F15EF;
font-size: 42px;
width: 612px;
height: 72px;
left: 500px;
}
.contenedor-beneficios p{
position: relative;
color: #8F15EF;
width: 412px;
height: 0px;
left: 500px;
    
}

.info_index h2{
position: relative;
color: #8F15EF;
top: 300px;
left: 500px;
}