body{
    position: relative;
    width: auto;
    height: 1024px;
    background: #ffffff;
}

#dinero{
    position: absolute;
    width: 577px;
    height: 187px;
    left: 124px;
    top: 167px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #8C52FF;
}
#dinero2{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border: 1px solid #8C52FF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    height: 188px;
    width: 566px;
    left: 147px;
    top: 181px;

}
.texto-dinero{
    text-decoration: none;
    display: block;
    z-index: 999;
    position: absolute;
    width: 247px;
    height: 36px;
    left: 171px;
    top: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}
.dinero-dispo{
    text-decoration: none;
    display: block;
    z-index: 999;
    position: absolute;
    width: 132px;
    height: 30px;
    left: 171px;
    top: 305px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
}
#acr{
    position: absolute;
    width: 566px;
    height: 353px;
    left: 124px;
    top: 430px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background:#8C52FF;
    border-radius: 12px;
}

#acr2{
    position: absolute;
    width: 566px;
    height: 353px;
    left: 147px;
    top: 440px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border: 1px solid #8C52FF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.acct{
    text-decoration: none;
    display: block;
    z-index: 999;
    position: absolute;
    width: 130px;
    height: 36px;
    left: 172px;
    top: 476px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}
.accd{
    display: block;
    z-index: 999;
    position: absolute;
    width: 110px;
    height: 29px;
    left: 172px;
    top: 543px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.accr{
    display: block;
    z-index: 999;
    position: absolute;
    width: 110px;
    height: 29px;
    left: 171px;
    top: 613px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.acctr{
    display: block;
    z-index: 999;
    position: absolute;
    width: 110px;
    height: 29px;
    left: 171px;
    top: 684px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
#histo{
    position: absolute;
    box-sizing: border-box;
    width: 564px;
    height: 823px;
    left: 769px;
    top: 167px;
    background: #8C52FF;
    mix-blend-mode: normal;
    border: 1px solid #8C52FF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 17px;
}
#histo2{
    box-sizing: border-box;
    position: absolute;
    width: 564px;
    height: 823px;
    left: 755px;
    top: 181px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #8C52FF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 17px;
}
#histo3{
    position: absolute;
    width: 555px;
    height: 0px;
    left: 758px;
    top: 268px;
    border: 1px solid #8C52FF;
}
.histotxt{
    display: block;
    z-index: 999;
    position: absolute;
    height: 36px;
    width: 116px;
    left: 785px;
    top: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

@media screen and (max-width: 1340px){
    #dinero{
        width: 400px;
        height: 187px;
    }
    #dinero2{
        height: 188px;
        width: 400px;
    
    }
    #acr{
        width: 400px;
        height: 353px;
    }
    
    #acr2{
        width: 400px;
        height: 353px;
    }
    #histo{
        width: 500px;
        height: 750px;
        left: 610px;
    }
    #histo2{
        width: 500px;
        height: 750px;
        left: 600px;
    }
    #histo3{
        left: 610px;
        width: 30rem;

    }


}
@media screen and (max-width: 1112px){
    #dinero{
        width: 23rem;
        height: 12rem;
        left: 0rem;
        top: 8rem;
    }
    #dinero2{
        width: 23.7rem;
        height: 12rem;
        left: 1rem;
        top: 9rem;
    
    }
    .texto-dinero{
        left: 3rem;
        top: 11rem;
        font-size: 1.8rem;
    }
    .dinero-dispo{
        left: 3rem;
        top: 15rem;
        font-size: 1.5rem;
    }
    #acr{
        width: 23rem;
        height: 20rem;
        left: 0rem;
        top: 25rem;
    }
    
    #acr2{
        width: 23rem;
        height: 20rem;
        left: 1rem;
        top: 26rem;
    }
    .acct{
        left: 3rem;
        top: 28.5rem;
        font-size: 1.8rem;
    }
    .accd{
        left: 3rem;
        top: 32rem;
        font-size: 1.5rem;
    }
    .accr{
        left: 3rem;
        top: 36rem;
        font-size: 1.5rem;
    }
    .acctr{
        left: 3rem;
        top: 40rem;
        font-size: 1.5rem;
    }
    #histo{
        width: 30rem;
        height: 50rem;
        left: 30rem;
        top: 8rem;
    }
    #histo2{
        width: 31rem;
        height: 50rem;
        left: 27rem;
        top: 9rem;
    }
    #histo3{
        width: 31rem;
        height: 0rem;
        left: 27rem;
        top: 14rem;
    }
    .histotxt{
        left: 29rem;
        top:10.5rem;
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 700px){
    #dinero{
        width: 98%;
    }
    #dinero2{
        width: 100%;
    
    }
    #acr{
        width: 98%;
    }
    
    #acr2{
        width: 100%;
    }
    #histo{
        width: 98%;
        height: 50rem;
        left: 0rem;
        top: 50rem;
    }
    #histo2{
        width: 100%;
        height: 50rem;
        left: 0.4rem;
        top: 51rem;
        max-width: 100%;
    }
    #histo3{
        width: 100%;
        height: 0rem;
        left: 0.6rem;
        top: 56rem;
    }
    .histotxt{
        left: 3rem;
        top:53rem;
        font-size: 1.8rem;
    }


}